.container {
  display: flex;
  justify-content: flex-end;
}

input {
  background-color: rgba(0, 255, 255, 0.6);
  font-family: cursive;
  border-radius: 10px 0 0 10px;
  border-color: aqua;
  outline: none;
}

.buttonSearch {
  border-radius: 0 10px 10px 0;
  border-color: aqua;
  color: aqua;
  background-color: steelblue;
}

.buttonSearch:hover {
  color: black;
  background-color: rgba(0, 255, 255, 0.6);
  cursor: pointer;
}
