.container {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 270px;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
  transition: all 0.5s ease;
}

.container:hover {
  transform: scale(1.1);
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
}

.buttonX {
  background-color: red;
  color: white;
  border-radius: 20px;
  margin: 10px 10px 0 0;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

img {
  width: 200px;
  border-radius: 10px 10px 0 0;
}

.imageContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 7px;
  align-items: center;
}

.name {
  background-color: rgba(0, 255, 255, 0.6);
  position: absolute;
  margin-bottom: 0px;
}

.propsContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: aqua;
  border-radius: 0 0 16px 16px;
}

.propsContainer h2 {
  margin: 0px;
}
